node_modules/

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# vscode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.css.map

*.log
