$red: #d0492d;
$tomato: #ff5733;
$orange: #f9a657;
$yellow: #ffeaa6;

input {
	padding: 10px;
	border-radius: 5px;
	// outline: none;
	margin-right: 10px;
	border-bottom: 1 solid #dddddd;
}

@import './force';
@import './components/footer';
@import './components/header';
@import './components/layout';
@import './components/search';
@import './components/table';
@import './components/profile';
