.header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: $tomato !important;
}

.menu {
	float: right;
	line-height: 64px !important;
	background-color: $tomato !important;
}

.login-form {
	label {
		display: inherit;
	}
}

.login-button {
	background-color: $tomato !important;
}

.logo {
	float: left;
	text-align: left;
	color: white;
	font: {
		family: 'Marck Script', cursive;
		size: 40px;
	}
}