.header {
	position: fixed;
	width: 100%;
	background-color: $tomato !important;
}

.menu {
	float: right;
	line-height: 64px !important;
	background-color: $tomato !important;
}

.login-form {
	label {
		display: inherit;
	}
}

.logo {
	float: left;
	text-align: left;
	font-family: 'Marck Script', cursive;
	color: white;
	font-size: 40px;
}
