.layout {
	min-height: 100vh;
}

.content {
	margin-top: 64px;
	padding: 0 10px;
	@media (min-width: $screen-lg) {
		padding: 0 60px;
	}
}

.content__div {
	background: #ffffff;
	margin-top: 25px;
	padding: 25px;
	min-height: 380px;
	overflow: auto;
}
