.profile {
	width: 30%;
	float: left;
	text-align: center;
}

.ingredients {
	float: right;
	text-align: center;
	width: 70%;
	height: 100%;
}

.avatar {
	width: 150px;
	height: 150px;
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(230, 230, 230);
	cursor: pointer;
}

.addtag {
	width: 150px;
	height: 40px;
	background-color: $tomato;
	border: none;
	color: white;
	margin: 10px 10px;
}

.savetag {
	width: 150px;
	height: 40px;
	background-color: $tomato;
	border: none;
	color: white;
	margin: 10px 0px;
}

.input {
	width: 500px;
	margin: 10px;
	text-align: center;
}

.modalTagsContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;

	padding-top: 4px;
	padding-bottom: 4px;
	margin: 20px;

	width: 100%;
}

.modalTagsContainer {
	span {
		position: relative;
		display: inline-block;

		border-radius: 25px;

		padding: 3px 10px 3px 10px;
		margin: 2px 4px 2px 4px;

		color: white;
		background: $tomato;
		font-size: 14px;

		cursor: pointer;
		transition: 0.25s ease-out;
	}
}

.modalTagsContainer {
	span {
		&:hover {
			position: relative;

			transform: scale(1.08);
		}
	}
}

.form-control {
	display: inline-block !important;
}

.ingredients {
	p {
		margin-left: 8px;
	}
}

.btn {
	cursor: pointer;
}
