.btn {
	cursor: pointer;
}

.email {
	margin-top: 10px;
}

.input {
	margin: 10px;
	text-align: center;
}

.user-profile {
	.profile {
		text-align: center;
		.avatar {
			width: 150px;
			height: 150px;
			display: inline-block;
			border-radius: 5px;
			background-color: rgb(230, 230, 230);
			cursor: pointer;
		}
	}

	.ingredients {
		text-align: center;
		width: 100%;
		h5 {
			margin-left: 8px;
		}
	}
}

.tag {
	width: 150px;
	height: 40px;
	background-color: $tomato;
	border: none;
	color: white;
}

.addtag {
	margin: 10px 10px;
}

.savetag {
	margin: 10px 0px;
}

.modalTagsContainer {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;

	width: 100%;
	margin: 20px;
	padding: {
		top: 4px;
		bottom: 4px;
	}

	span {
		position: relative;
		display: inline-block;

		border-radius: 25px;

		padding: 3px 10px;
		margin: 2px 4px;

		color: white;
		background: $tomato;
		font-size: 14px;

		cursor: pointer;
		transition: 0.25s ease-out;

		&:hover {
			position: relative;

			transform: scale(1.08);
		}
	}
}

.form-control {
	display: inline-block !important;
}
