.avatar {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 5px;
	margin: {
		left: auto;
		right: auto;
	}
	background-color: rgb(230, 230, 230);
}

.ant-card {
	margin-left: 200px;
}
