.recipe-details {
	.upper {
		img {
			width: 150px;
			height: 150px;
			display: inline-block;
			border-radius: 5px;
			background-color: rgb(230, 230, 230);
			cursor: pointer;
			float: right;
		}

		.source {
			font {
				family: 'Mukta Mahee', sans-serif;
				size: 15px;
			}
			color: grey;
			padding-left: 30px;
			display: inline-block;
		}

		.label {
			display: inline-block;
			font-size: 35px !important;
		}

		font: {
			family: 'Mukta Mahee', sans-serif;
			weight: bold;
		}
		min-height: 150px;

		.tags {
			margin-top: 10px;
		}

		.status {
			margin: 10px 0px;
			font-size: 20px !important;
			i {
				margin: 10px;
			}
			.icon {
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				&:hover {
					transform: scale(1.2);
				}
			}
			.like {
				color: red;
			}
			.save {
				color: orange;
			}
		}
	}

	.lower {
		.ingredients {
			text-align: left;
		}

		.nutrients {
			.quantity {
				text-align: right;
			}
		}

		.comment-section {
			font-size: 20px;
			.btn-primary {
				background-color: tomato;
				border: none;
			}
			.media-left {
				width: 50px;
			}
			.media-heading {
				display: inline-block;
				margin-left: 10px;
				font-size: 15px;
			}
			.content {
				margin: 5px 0px 0px 0px;
				font-size: 15px;
			}
			.comment-content {
				margin: 0px;
			}
			.actions .btn-group .btn-group-xs {
				font-size: 15px;
			}
		}
	}

	.url {
		text-align: center;
		padding: 10px;
	}
	.directions {
		background: tomato !important;
		border: none !important;
	}
}
