.recipe-details {
	.upper {
		img {
			width: 150px;
			height: 150px;
			display: inline-block;
			border-radius: 5px;
			background-color: rgb(230, 230, 230);
			cursor: pointer;
			float: right;
		}

		.source {
			font {
				family: 'Mukta Mahee', sans-serif;
				size: 15px;
			}
			color: grey;
			padding-left: 30px;
			display: inline-block;
		}

		.label {
			display: inline-block;
			font-size: 35px !important;
		}

		font: {
			family: 'Mukta Mahee', sans-serif;
			weight: bold;
		}
		min-height: 150px;

		.tags {
			margin-top: 10px;
		}

		.likes {
			margin: 10px 0px;
			font-size: 20px !important;
			i {
				margin-right: 10px;
			}

			.heart {
				color: red;
			}
			.save {
				color: orange;
				font-size: 20px !important;
			}
		}
	}

	.lower {
		.ingredients {
			text-align: left;
		}

		.nutrients {
			.quantity {
				text-align: right;
			}
		}
	}

	.url {
		text-align: center;
		padding: 10px;
	}
	.directions {
		background: tomato !important;
		border: none !important;
	}
}
