.div-center {
	margin: 10px;
	text-align: center;

	.error {
		width: 35%;
		margin: auto;
	}
}

.search {
	width: 35%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
}

.search-filter {
	width: 40%;
	margin: auto;
}

.search-select {
	width: 200px;
}
