.ant-menu-horizontal {
  border: none;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #d0492d;
}

.logo {
  float: left;
  text-align: left;
  font-family: 'Marck Script', cursive;
  color: white;
  font-size: 40px;
}
